<template>
  <div class="">
    <div class="box box-primary">
        <div class="box-header with-border">
         <h3 class="box-title">Openings</h3>
         <div class="box-tools pull-right">
           <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <div class="pull-left">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="checkbox">
                      <label><input type="checkbox" v-model="memo">Mostrar memo?</label>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="btn-group pull-right">
                      <button type="button" name="button" class="btn btn-primary btn-sm" @click="showRegister">Registrar</button>
                      <button type="button" name="button" v-if="openings.data" :disabled="!openings.data.length" @click="showDeleteAll" class="btn btn-default btn-sm">Borrar todo</button>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> {{openings.per_page}} por pagina
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a @click="getResults(1,5)">5</a></li>
                          <li><a @click="getResults(1,10)">10</a></li>
                          <li><a @click="getResults(1,20)">20</a></li>
                          <li><a @click="getResults(1,50)">50</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-bordered table-hover table-data">
              <thead>
                <tr>
                  <th>Feha/Hora</th>
                  <th v-if="memo">Memo</th>
                  <th>Fuente</th>
                  <th>Coin</th>
                  <th class="text-right">Volumen</th>
                  <th class="text-right">Valor</th>
                  <th class="text-right">Fees</th>
                  <th class="text-right">Costo Base</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="opening in openings.data">
                    <td>
                      {{opening.date}}
                      <span class="pull-right">
                        <a @click="showResult(opening.id)"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a @click="showDelete(opening.id)"><span class="glyphicon glyphicon-remove-circle"></span></a>
                      </span>
                    </td>
                    <td v-if="memo">{{opening.memo}}</td>
                    <td>{{opening.exchange}}</td>
                    <td>{{opening.symbol}}</td>
                    <td class="text-right">{{opening.volumen}}</td>
                    <td class="text-right">{{opening.price | currency(opening.currency) }}</td>
                    <td class="text-right">{{opening.fee | currency(opening.currency) }}</td>
                    <td class="text-right">{{opening.total | currency(opening.currency) }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-12">
                <span class="pull-left" v-if="openings.total">{{openings.total}} Openings</span>
                <span class="pull-left" v-else>You have openings</span>
                <span class="pull-right">
                  <pagination :data="openings" v-on:pagination-change-page="getResults"></pagination>
                </span>
              </div>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="edit" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar Transacción</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                 <div class="col-xs-6">
                   <label for="date">Fecha de transaccion</label>
                   <input type="date" class="form-control" name="date" id="date" v-model="opening.datef">
                </div>
                   <div class="col-xs-6">
                      <label for="time">Hora de transaccion</label>
                       <input type="time" class="form-control" name="time" id="time" v-model="opening.timef">
                    </div>
               </div>
               <div class="row">
                  <div class="col-xs-12"><br>
                     <label for="Exchange">Fuente</label>
                     <input type="text" name="source" class="form-control" placeholder="Nombre del remitente o fuente" v-model="opening.exchange">
                 </div>
               </div>
               <div class="row">
                  <div class="col-xs-6"><br>
                       <label for="coin_type">Tipo de Moneda</label>
                         <select class="form-control" id="coin_type" name="coin" v-model="opening.symbol">
                           <option v-bind:value="coin.symbol" v-for="coin in coins">{{coin.symbol}}</option>
                         </select>
                   </div>
               </div>
               <div class="row">
                  <div class="col-xs-6"><br>
                     <label for="quantity">Cantidad</label>
                     <input class="form-control" type="number" name="volumen" id="quantity" placeholder="Cantidad" v-model="opening.volumen">
                 </div>
               </div>
               <div class="row"><br>
                 <div class="col-xs-12">
                 <p id="descr1" class="form-text text-muted">Ingrese el precio por moneda y el cargo adicional</p>
                 </div>
               </div>
               <div class="row" >
                 <div class="col-xs-3">
                   <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="opening.currency">
                     <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                   </select>
                   </div>
                   <div class="col-xs-4">
                       <input class="form-control"  type="number" name="price" placeholder="precio" v-model="opening.price">
                 </div>
                   <div class="col-xs-4">
                       <input class="form-control"  type="number" name="fees" placeholder="cargo" v-model="opening.fee">
                 </div>
                 </div>
                 <div class="row"><br>
                     <div class="col-xs-8">
                       <input class="form-control" type="text" name="memo" placeholder="Inserte un comentario o nota" v-model="opening.memo">
                     </div>
                 </div>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" @click="update(opening.id)">Ok</button>
            </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar</h4>
          </div>
          <div class="modal-body">
            <p>Esta seguro de eliminar esta fila</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="goDelete">Ok</button>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="deleteAll" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar todo</h4>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea eliminar todos los registros</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="deleteAll">Ok</button>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="register" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nueva Transaccion</h4>
          </div>
          <div class="modal-body">
            <div class="row">
               <div class="col-xs-6">
                 <label for="date">Fecha de transaccion</label>
                 <input type="date" class="form-control" name="date" id="date" v-model="opening.date">
              </div>
                 <div class="col-xs-6">
                    <label for="time">Hora de transaccion</label>
                     <input type="time" class="form-control" name="time" id="time" v-model="opening.time">
                  </div>
             </div>
             <div class="row">
                <div class="col-xs-12"><br>
                   <label for="Exchange">Fuente</label>
                   <input type="text" name="source" class="form-control" placeholder="Nombre del remitente o fuente" v-model="opening.source">
               </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                     <label for="coin_type">Tipo de Moneda</label>
                       <select class="form-control" id="coin_type" name="coin" v-model="opening.coin">
                         <option v-bind:value="coin.symbol" v-for="coin in coins">{{coin.symbol}}</option>
                       </select>
                 </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                   <label for="quantity">Cantidad</label>
                   <input class="form-control" type="number" name="volumen" id="quantity" placeholder="Cantidad" v-model="opening.volumen">
               </div>
             </div>
             <div class="row"><br>
               <div class="col-xs-12">
               <p id="descr1" class="form-text text-muted">O ingrese el precio total de la transaccion y el cargo adicional</p>
               </div>
             </div>
             <div class="row" >
               <div class="col-xs-3">
                 <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="opening.currency">
                   <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                 </select>
                 </div>
                 <div class="col-xs-4">
                     <input class="form-control"  type="number" name="price" placeholder="precio" v-model="opening.price">
               </div>
                 <div class="col-xs-4">
                     <input class="form-control"  type="number" name="fees" placeholder="cargo" v-model="opening.fee">
               </div>
               </div>
               <div class="row"><br>
                   <div class="col-xs-8">
                   <input class="form-control" type="text" name="memo" placeholder="Inserte un comentario o nota" v-model="opening.memo">
                   </div>
               </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="register">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script type="text/javascript">
  module.exports = {
    data: function(){
      return {
        openings:{},
        opening:{},
        coins:[],
        currencies:[],
        exchanges:[],
        toDelete:false,
        memo:false,
        searchParameters:{
          resultPerPage:5
        }
      }
    },
    created(){
        // Fetch initial results
        this.getResults();
        this.getCoins();
        this.getCurrencies();
    },
    methods:{
      getResults(page,count) {
        if (typeof page === 'undefined') {
            page = 1;
        }

        if( typeof count !== 'undefined' ){
          this.searchParameters.resultPerPage = count;
        }

        this.$http.get('/opening?page=' + page + '&count=' + this.searchParameters.resultPerPage)
            .then(response => {
                return response.json();
            }).then(data => {
                this.openings = data;
            });
      },
      showResult(id){
        this.opening = {};

        this.$http.get('/opening/' + id)
            .then(response => {
                return response.json();
            }).then(data => {
                this.opening = data;
                $('#edit').modal('show');
            });
      },
      showDelete(id){
        this.toDelete = id;
        $('#delete').modal('show');
      },
      showRegister(){
        this.opening = {};
        $('#register').modal('show');
      },
      showDeleteAll(){
        $('#deleteAll').modal('show');
      },
      register(){

        this.$http.post('/opening/', this.opening)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#register').modal('hide');
                  this.getResults();
              }

            });
      },
      update(id){

        this.$http.put('/opening/' + id, this.opening)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#edit').modal('hide');
                  this.getResults(this.current_page);
              }

            });
      },
      goDelete(){
        this.$http.delete('/opening/' + this.toDelete)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#delete').modal('hide');
                  this.getResults();
              }
            });
      },
      deleteAll(){
        this.$http.delete('/opening/deleteall')
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  this.getResults();
                  $('#deleteAll').modal('hide');
              }
            });
      },
      getCoins(){
        this.$http.get('/coins/')
            .then(response => {
                return response.json();
            }).then(data => {
                this.coins = data;
            });
      },
      getCurrencies(){
        this.$http.get('/currencies/')
            .then(response => {
                return response.json();
            }).then(data => {
                this.currencies = data;
            });
      }
    },
    components:{
      'pagination':require('laravel-vue-pagination')
    }
  }
</script>

<style media="screen">

</style>
