<template>
  <div class="">
    <div class="box box-primary">
        <div class="box-header with-border">
         <h3 class="box-title">Spendings</h3>
         <div class="box-tools pull-right">
           <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <div class="pull-left">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-4">
                    <div class="btn-group pull-right">
                      <button type="button" name="button" class="btn btn-primary btn-sm" @click="showRegister">Registrar</button>
                      <button type="button" name="button" v-if="spendings.data" :disabled="!spendings.data.length" @click="showDeleteAll" class="btn btn-default btn-sm">Borrar todo</button>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> {{spendings.per_page}} por pagina
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a @click="getResults(1,5)">5</a></li>
                          <li><a @click="getResults(1,10)">10</a></li>
                          <li><a @click="getResults(1,20)">20</a></li>
                          <li><a @click="getResults(1,50)">50</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-bordered table-hover table-data">
              <thead>
                <tr>
                  <th>Feha/Hora</th>
                  <th>Tipo</th>
                  <th>Fuente</th>
                  <th>Descripcion</th>
                  <th class="text-right">Volumen</th>
                  <th>Coin</th>
                  <th class="text-right">Valor</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="spending in spendings.data">
                    <td>
                      {{spending.date}}
                      <span class="pull-right">
                        <a @click="showResult(spending.id)"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a @click="showDelete(spending.id)"><span class="glyphicon glyphicon-remove-circle"></span></a>
                      </span>
                    </td>
                    <td>{{spending.action}}</td>
                    <td>{{spending.exchange}}</td>
                    <td>{{spending.memo}}</td>
                    <td class="text-right">{{spending.volumen}}</td>
                    <td class="text-right">{{spending.symbol}}</td>
                    <td class="text-right">{{spending.total | currency(spending.currency) }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-12">
                <span class="pull-left" v-if="spendings.total">{{spendings.total}} spendings</span>
                <span class="pull-left" v-else>You have no Spendings</span>
                <span class="pull-right">
                  <pagination :data="spendings" v-on:pagination-change-page="getResults"></pagination>
                </span>
              </div>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="edit" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar Transacción</h4>
          </div>
          <div class="modal-body">
            <div class="row">
               <div class="col-xs-6">
                 <label for="date">Fecha de transaccion</label>
                 <input type="date" class="form-control" name="date" id="date" v-model="spending.datef">
              </div>
                 <div class="col-xs-6">
                    <label for="time">Hora de transaccion</label>
                     <input type="time" class="form-control" name="time" id="time" v-model="spending.timef">
                  </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                     <label for="buy_sell">Tipo del egreso</label>
                       <select class="form-control" id="buy_sell" name="type" v-model="spending.action">
                         <option value="SPEND">Spend</option>
                         <option value="STOLEN">Solent / Hacked / Fraud</option>
                         <option value="GIFT">Gift</option>
                         <option value="DONATION">Donation</option>
                         <option value="LOST">Lost</option>
                       </select>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12"><br>
                   <label for="Exchange">Fuente</label>
                   <input type="text" name="exchange" class="form-control" placeholder="Nombre del remitente o fuente" v-model="spending.exchange">
               </div>
             </div>
             <div class="row">
                <div class="col-xs-12"><br>
                   <label for="description">Descripcion opcional</label>
                   <input type="text" name="description" class="form-control" placeholder="Remitente, articulo o nota" v-model="spending.memo">
               </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                     <label for="coin_type">Tipo de Moneda</label>
                       <select class="form-control" id="coin_type" name="coin" v-model="spending.symbol">
                         <option v-bind:value="coin.symbol" v-for="coin in coins">{{coin.symbol}}</option>
                       </select>
                 </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                   <label for="quantity">Cantidad</label>
                   <input class="form-control" type="number" name="volumen" id="quantity" placeholder="Cantidad" v-model="spending.volumen">
               </div>
             </div>
             <div class="row"><br>
               <div class="col-xs-12">
               <p id="descr1" class="form-text text-muted">Ingrese el precio por moneda</p>
               </div>
             </div>
             <div class="row" >
               <div class="col-xs-3">
                 <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="spending.currency">
                   <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                 </select>
                 </div>
                 <div class="col-xs-4">
                     <input class="form-control"  type="number" name="price" placeholder="precio" v-model="spending.price">
                 </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" @click="update(spending.id)">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar</h4>
          </div>
          <div class="modal-body">
            <p>Esta seguro de eliminar esta fila</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="goDelete">Ok</button>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="deleteAll" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar todo</h4>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea eliminar todos los registros</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="deleteAll">Ok</button>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="register" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nueva Transaccion</h4>
          </div>
          <div class="modal-body">
            <div class="row">
               <div class="col-xs-6">
                 <label for="date">Fecha de transaccion</label>
                 <input type="date" class="form-control" name="date" id="date" v-model="spending.date">
              </div>
              <div class="col-xs-6">
                 <label for="time">Hora de transaccion</label>
                 <input type="time" class="form-control" name="time" id="time" v-model="spending.time">
              </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                   <label for="buy_sell">Tipo del egreso</label>
                   <select class="form-control" id="buy_sell" v-model="spending.type">
                     <option value="SPEND">Spend</option>
                     <option value="STOLEN">Solent / Hacked / Fraud</option>
                     <option value="GIFT">Gift</option>
                     <option value="DONATION">Donation</option>
                     <option value="LOST">Lost</option>
                   </select>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12"><br>
                   <label for="Exchange">Tu wallet o fuent</label>
                   <input type="text" class="form-control" id="Exchange" placeholder="Nombre de tu wallet o fuente" v-model="spending.source">
               </div>
             </div>
             <div class="row">
                <div class="col-xs-12"><br>
                   <label for="description">Descripcion opcional</label>
                   <input type="text" class="form-control" id="description" placeholder="Remitente, articulo o nota" v-model="spending.memo">
               </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                     <label for="coin_type">Tipo de Moneda</label>
                     <select class="form-control" id="coin_type" v-model="spending.coin">
                         <option v-bind:value="coin.symbol" v-for="coin in coins">{{coin.symbol}}</option>
                     </select>
                 </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                   <label for="quantity">Cantidad</label>
                   <input class="form-control" type="number" name="volumen" placeholder="Cantidad" v-model="spending.volumen">
               </div>
             </div>
             <div class="row"><br>
               <div class="col-xs-12">
               <p id="descr1" class="form-text text-muted">Ingrese el precio por moneda</p>
               </div>
             </div>
             <div class="row" >
               <div class="col-xs-3">
                 <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="spending.currency">
                   <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                 </select>
                 </div>
                 <div class="col-xs-4">
                     <input class="form-control"  type="number" placeholder="precio" v-model="spending.price">
                 </div>
               </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="register">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script type="text/javascript">
  module.exports = {
    data: function(){
      return {
        spendings:{},
        spending:{},
        coins:[],
        currencies:[],
        exchanges:[],
        toDelete:false,
        searchParameters:{
          resultPerPage:5
        }
      }
    },
    created(){
        // Fetch initial results
        this.getResults();
        this.getCoins();
        this.getCurrencies();
    },
    methods:{
      getResults(page,count) {
        if (typeof page === 'undefined') {
            page = 1;
        }

        if( typeof count !== 'undefined' ){
          this.searchParameters.resultPerPage = count;
        }

        this.$http.get('/spending?page=' + page + '&count=' + this.searchParameters.resultPerPage)
            .then(response => {
                return response.json();
            }).then(data => {
                this.spendings = data;
            });
      },
      showResult(id){
        this.spending = {};

        this.$http.get('/spending/' + id)
            .then(response => {
                return response.json();
            }).then(data => {
                this.spending = data;
                $('#edit').modal('show');
            });
      },
      showDelete(id){
        this.toDelete = id;
        $('#delete').modal('show');
      },
      showRegister(){
        this.spending = {};
        $('#register').modal('show');
      },
      showDeleteAll(){
        $('#deleteAll').modal('show');
      },
      register(){

        this.$http.post('/spending/', this.spending)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#register').modal('hide');
                  this.getResults();
              }

            });
      },
      update(id){

        this.$http.put('/spending/' + id, this.spending)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#edit').modal('hide');
                  this.getResults(this.current_page);
              }

            });
      },
      goDelete(){
        this.$http.delete('/spending/' + this.toDelete)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#delete').modal('hide');
                  this.getResults();
              }
            });
      },
      deleteAll(){
        this.$http.delete('/spending/deleteall')
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  this.getResults();
                  $('#deleteAll').modal('hide');
              }
            });
      },
      getCoins(){
        this.$http.get('/coins/')
            .then(response => {
                return response.json();
            }).then(data => {
                this.coins = data;
            });
      },
      getCurrencies(){
        this.$http.get('/currencies/')
            .then(response => {
                return response.json();
            }).then(data => {
                this.currencies = data;
            });
      }
    },
    components:{
      'pagination':require('laravel-vue-pagination')
    }
  }
</script>
<style media="screen">

</style>
