<template>
  <div class="">
    <div class="box box-primary">
        <div class="box-header with-border">
         <h3 class="box-title">Tradings</h3>
         <div class="box-tools pull-right">
           <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <div class="pull-left">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="checkbox">
                      <label><input type="checkbox" v-model="memo">Mostrar memo?</label>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="btn-group pull-right">
                      <button type="button" name="button" class="btn btn-primary btn-sm" @click="showRegister">Registrar</button>
                      <button type="button" name="button" v-if="tradings.data" :disabled="!tradings.data.length" @click="showDeleteAll" class="btn btn-default btn-sm">Borrar todo</button>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> {{tradings.per_page}} por pagina
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a @click="getResults(1,5)">5</a></li>
                          <li><a @click="getResults(1,10)">10</a></li>
                          <li><a @click="getResults(1,20)">20</a></li>
                          <li><a @click="getResults(1,50)">50</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-bordered table-hover table-data">
              <thead>
                <tr>
                  <th>Feha/Hora</th>
                  <th v-if="memo">Memo</th>
                  <th>Exchange/Fuente</th>
                  <th>Accion</th>
                  <th>Coin</th>
                  <th class="text-right">Volumen</th>
                  <th class="text-right">Precio</th>
                  <th class="text-right">Fee</th>
                  <th class="text-right">Costo/Ganancia</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="trading in tradings.data">
                    <td>
                      {{trading.date}}
                      <span class="pull-right">
                        <a @click="showResult(trading.id)"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a @click="showDelete(trading.id)"><span class="glyphicon glyphicon-remove-circle"></span></a>
                      </span>
                    </td>
                    <td v-if="memo">{{trading.memo}}</td>
                    <td>{{trading.exchange}}</td>
                    <td>{{trading.action}}</td>
                    <td>{{trading.symbol}}</td>
                    <td class="text-right">{{trading.volumen}}</td>
                    <td class="text-right">{{trading.price | currency(trading.currency) }}</td>
                    <td class="text-right">{{trading.fee | currency(trading.currency) }}</td>
                    <td class="text-right">{{trading.total | currency(trading.currency) }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-12">
                <span class="pull-left" v-if="tradings.total">{{tradings.total}} tradings</span>
                <span class="pull-left" v-else>You have no Tradings</span>
                <span class="pull-right">
                  <pagination :data="tradings" v-on:pagination-change-page="getResults"></pagination>
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="edit" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar Transacción</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                 <div class="col-xs-6">
                   <label for="date">Fecha de transaccion</label>
                   <input type="date" class="form-control" name="date" id="date" v-model="trading.datef">
                </div>
                   <div class="col-xs-6">
                      <label for="time">Hora de transaccion</label>
                       <input type="time" class="form-control" name="time" id="time" v-model="trading.timef">
                    </div>
               </div>
               <div class="row">
                      <div class="col-xs-6"><br>
                         <label for="Exchange">Exchange</label>
                         <select class="form-control" id="Exchange" name="exchange" v-model="trading.exchange">
                           <option v-bind:value="exchange.name" v-for="exchange in exchanges">{{exchange.name}}</option>
                         </select>
                     </div>
               </div>
               <div class="row">
                  <div class="col-xs-6"><br>
                       <label for="buy_sell">Compra/Venta</label>
                         <select class="form-control" id="buy_sell" name="type" v-model="trading.action">
                           <option value="BUY">Comprar</option>
                           <option value="SELL">Vender</option>
                         </select>
                   </div>
               </div>
               <div class="row">
                  <div class="col-xs-6"><br>
                       <label for="coin_type">Tipo de Moneda</label>
                         <select class="form-control" id="coin_type" name="coin" v-model="trading.symbol">
                           <option v-bind:value="coin.symbol" v-for="coin in coins">{{coin.symbol}}</option>
                         </select>
                   </div>
               </div>
               <div class="row">
                  <div class="col-xs-6"><br>
                     <label for="quantity">Cantidad</label>
                     <input class="form-control" type="number" name="volumen" id="quantity" placeholder="Cantidad" v-model="trading.volumen">
                 </div>
               </div>
               <div class="row"><br>
                 <div class="col-xs-12">
                 <p id="descr1" class="form-text text-muted">Ingrese el precio por moneda y el cargo adicional</p>
                 </div>
               </div>
               <div class="row" >
                 <div class="col-xs-3">
                   <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="trading.currency">
                     <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                   </select>
                   </div>
                   <div class="col-xs-4">
                       <input class="form-control"  type="number" name="price" placeholder="precio" v-model="trading.price">
                 </div>
                   <div class="col-xs-4">
                       <input class="form-control"  type="number" name="fees" placeholder="cargo" v-model="trading.fee">
                 </div>
                 </div>

                 <div class="row"><br>
                   <div class="col-xs-12">
                     <p id="descr2" class="form-text text-muted">O ingrese el precio total de la transaccion</p>
                   </div>
                 </div>
                  <div class="row" >
                     <div class="col-xs-3">
                       <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="trading.currency">
                         <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                       </select>
                     </div>
                     <div class="col-xs-4">
                       <input class="form-control" type="number" v-model="trading.cost" name="cantidad3" placeholder="precio">
                     </div>
                     </div>
                     <div class="row"><br>
                         <div class="col-xs-8">
                           <input class="form-control" type="text" name="memo" placeholder="Inserte un comentario o nota" v-model="trading.memo">
                         </div>
                     </div>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" @click="update(trading.id)">Ok</button>
            </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar</h4>
          </div>
          <div class="modal-body">
            <p>Esta seguro de eliminar esta fila</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="goDelete">Ok</button>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="deleteAll" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar todo</h4>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea eliminar todos los registros</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="deleteAll">Ok</button>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="register" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nueva Transaccion</h4>
          </div>
          <div class="modal-body">
            <div class="row">
               <div class="col-xs-6">
                 <label for="date">Fecha de transaccion</label>
                 <input type="date" class="form-control" name="date" id="date" v-model="trading.date">
              </div>
                 <div class="col-xs-6">
                    <label for="time">Hora de transaccion</label>
                     <input type="time" class="form-control" name="time" id="time" v-model="trading.time">
                  </div>
             </div>
             <div class="row">
                    <div class="col-xs-6"><br>
                       <label for="Exchange">Exchange</label>
                       <select class="form-control" id="Exchange" name="exchange" v-model="trading.exchange">
                         <option v-bind:value="exchange.name" v-for="exchange in exchanges">{{exchange.name}}</option>
                       </select>
                   </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                     <label for="buy_sell">Compra/Venta</label>
                       <select class="form-control" id="buy_sell" name="type" v-model="trading.type">
                         <option value="BUY">Comprar</option>
                         <option value="SELL">Vender</option>
                       </select>
                 </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                     <label for="coin_type">Tipo de Moneda</label>
                       <select class="form-control" id="coin_type" name="coin" v-model="trading.coin">
                         <option v-bind:value="coin.symbol" v-for="coin in coins">{{coin.symbol}}</option>
                       </select>
                 </div>
             </div>
             <div class="row">
                <div class="col-xs-6"><br>
                   <label for="quantity">Cantidad</label>
                   <input class="form-control" type="number" name="volumen" id="quantity" placeholder="Cantidad" v-model="trading.volumen">
               </div>
             </div>
             <div class="row"><br>
               <div class="col-xs-12">
               <p id="descr1" class="form-text text-muted">Ingrese el precio por moneda y el cargo adicional</p>
               </div>
             </div>
             <div class="row" >
               <div class="col-xs-3">
                 <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="trading.currency">
                   <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                 </select>
                 </div>
                 <div class="col-xs-4">
                     <input class="form-control"  type="number" name="price" placeholder="precio" v-model="trading.price">
               </div>
                 <div class="col-xs-4">
                     <input class="form-control"  type="number" name="fees" placeholder="cargo" v-model="trading.fee">
               </div>
               </div>

               <div class="row"><br>
                 <div class="col-xs-12">
                   <p id="descr2" class="form-text text-muted">O ingrese el precio total de la transaccion</p>
                 </div>
               </div>
                <div class="row" >
                 <div class="col-xs-3">
                   <select class="form-control" name="tipo_de_moneda" id="currency_type" v-model="trading.currency">
                     <option v-bind:value="currency.abbreviation" v-for="currency in currencies">{{currency.abbreviation}}</option>
                   </select>
                 </div>
                 <div class="col-xs-4">
                   <input class="form-control" type="number" v-model="trading.cost" name="cantidad3" placeholder="precio">
                 </div>
                 </div>
                 <div class="row"><br>
                     <div class="col-xs-8">
                     <input class="form-control" type="text" name="memo" placeholder="Inserte un comentario o nota" v-model="trading.memo">
                     </div>
                 </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" @click="register">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script type="text/javascript">
  module.exports = {
    data: function(){
      return {
        tradings:{},
        trading:{},
        coins:[],
        exchanges:[],
        currencies:[],
        toDelete:false,
        memo:false,
        searchParameters:{
          resultPerPage:5
        }
      }
    },
    created(){
        // Fetch initial results
        this.getResults();
        this.getCoins();
        this.getExchanges();
        this.getCurrencies();
    },
    methods:{
      getResults(page,count) {
        if (typeof page === 'undefined') {
            page = 1;
        }

        if( typeof count !== 'undefined' ){
          this.searchParameters.resultPerPage = count;
        }

        this.$http.get('/trading?page=' + page + '&count=' + this.searchParameters.resultPerPage)
            .then(response => {
                return response.json();
            }).then(data => {
                this.tradings = data;
            });
      },
      showResult(id){
        this.trading = {};

        this.$http.get('/trading/' + id)
            .then(response => {
                return response.json();
            }).then(data => {
                this.trading = data;
                $('#edit').modal('show');
            });
      },
      showDelete(id){
        this.toDelete = id;
        $('#delete').modal('show');
      },
      showRegister(){
        this.trading = {};
        $('#register').modal('show');
      },
      showDeleteAll(){
        $('#deleteAll').modal('show');
      },
      register(){

        this.$http.post('/trading/', this.trading)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#register').modal('hide');
                  this.getResults();
              }

            });
      },
      update(id){

        this.$http.put('/trading/' + id, this.trading)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#edit').modal('hide');
                  this.getResults(this.current_page);
              }

            });
      },
      goDelete(){
        this.$http.delete('/trading/' + this.toDelete)
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  $('#delete').modal('hide');
                  this.getResults();
              }
            });
      },
      deleteAll(){
        this.$http.delete('/trading/deleteall')
            .then(response => {
                return response.json();
            }).then(data => {
              if(data.saved){
                  this.getResults();
                  $('#deleteAll').modal('hide');
              }
            });
      },
      getCoins(){
        this.$http.get('/coins/')
            .then(response => {
                return response.json();
            }).then(data => {
                this.coins = data;
            });
      },
      getExchanges(){
        this.$http.get('/exchanges/')
            .then(response => {
                return response.json();
            }).then(data => {
                this.exchanges = data;
            });
      },
      getCurrencies(){
        this.$http.get('/currencies/')
            .then(response => {
                return response.json();
            }).then(data => {
                this.currencies = data;
            });
      }
    },
    components:{
      'pagination':require('laravel-vue-pagination')
    }
  }
</script>

<style media="screen">

</style>
