<template>
  <div class="">
     <div class="box box-primary">
        <div class="box-header with-border">
         <h3 class="box-title">Capital Gains Report : Sales of Capital Assets</h3>
         <div class="box-tools pull-right">
           <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <div class="pull-left">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-4">
                    <div class="btn-group pull-right">
                      <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Descargar                      <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a>Csv</a></li>
                          <li><a>Form 8949 Statement</a></li>
                        </ul>
                      </div>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Opciones
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a>Mostrar Redondeado</a></li>
                          <li><a>Ignorar ganancias en 0</a></li>
                          <li><a>Solo mostrar no encontrados</a></li>
                        </ul>
                      </div>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> {{operations.per_page}} por pagina
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a @click="getResults(1,5)">5</a></li>
                          <li><a @click="getResults(1,10)">10</a></li>
                          <li><a @click="getResults(1,20)">20</a></li>
                          <li><a @click="getResults(1,50)">50</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-bordered table-hover table-data">
              <thead>
                <tr>
                  <th>Date Sold</th>
                  <th class="text-right">Asset</th>
                  <th class="text-right">Acquired cost</th>
                  <th class="text-right">Cost Basis</th>
                  <th class="text-right">Sold cost</th>
                  <th class="text-right">Proceeds</th>
                  <th class="text-right">Gain/Loss</th>
                  <th class="text-right">In stock</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="operation in operations.data"
                    v-bind:class="{'danger':!operation.resolved, 'text-danger':!operation.resolved}">
                    <td>
                       <span v-if="!operation.resolved"
                        class="glyphicon glyphicon-exclamation-sign"
                        data-toggle="tooltip"  data-placement="right" v-bind:data-original-title="operation.message"></span>
                      {{operation.date}}
                      <span class="pull-right">
                        <a><span class="glyphicon glyphicon glyphicon-eye-open" @click="showDetail(operation.output)"></span></a>
                      </span>
                    </td>
                    <td class="text-right">{{operation.volume + ' ' + operation.symbol}}</td>
                    <td class="text-right">{{operation.acquired_cost | currency(operation.currency) }}</td>
                    <td class="text-right">{{operation.cost_basis | currency(operation.currency) }}</td>
                    <td class="text-right">{{operation.sold_cost | currency(operation.currency) }}</td>
                    <td class="text-right">{{operation.procceds | currency(operation.currency) }}</td>
                    <td class="text-right">{{operation.gain_lost | currency(operation.currency) }}</td>
                    <td class="text-right">{{operation.stock + ' ' + operation.symbol}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-12">
                <span class="pull-left" v-if="operations.total">{{operations.total}} Sales</span>
                <span class="pull-left" v-else>You have no Sales</span>
                <span class="pull-right">
                  <pagination :data="operations" v-on:pagination-change-page="getResults"></pagination>
                </span>
              </div>
            </div>
        </div>
       </div>
    </div>

    <div class="modal fade" id="detail" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detalle</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-4">
                  <div class="btn-group pull-right">
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Descargar                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a>Csv</a></li>
                        <li><a>Form 8949 Statement</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Opciones
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a>Mostrar Redondeado</a></li>
                        <li><a>Ignorar ganancias en 0</a></li>
                        <li><a>Solo mostrar no encontrados</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> {{operationDetails.per_page}} por pagina
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a @click="getDetail(1,5)">5</a></li>
                        <li><a @click="getDetail(1,10)">10</a></li>
                        <li><a @click="getDetail(1,20)">20</a></li>
                        <li><a @click="getDetail(1,50)">50</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered table-hover table-data">
                    <thead>
                      <tr>
                        <th>Date acquired</th>
                        <th class="text-right">Asset</th>
                        <th class="text-right">Acquired cost</th>
                        <th class="text-right">Cost Basis</th>
                        <th class="text-right">Sold cost</th>
                        <th class="text-right">Proceeds</th>
                        <th class="text-right">Gain/Loss</th>
                        <th class="text-right">In stock</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr v-for="operation in operationDetails.data"
                          v-bind:class="{'danger':!operation.resolved, 'text-danger':!operation.resolved}">
                          <td>
                            <span v-if="!operation.resolved"
                              class="glyphicon glyphicon-exclamation-sign"
                              data-toggle="tooltip"  data-placement="right" v-bind:data-original-title="operation.message"></span>
                            {{operation.input.datef}}
                          </td>
                          <td class="text-right">{{operation.volume + ' ' + operation.input.symbol}}</td>
                          <td class="text-right">{{operation.acquired_cost | currency(operation.input.currency) }}</td>
                          <td class="text-right">{{operation.cost_basis | currency(operation.input.currency) }}</td>
                          <td class="text-right">{{operation.sold_cost | currency(operation.input.currency) }}</td>
                          <td class="text-right">{{operation.procceds | currency(operation.input.currency) }}</td>
                          <td class="text-right">{{operation.gain_lost | currency(operation.input.currency) }}</td>
                          <td class="text-right">{{operation.stock + ' ' + operation.input.symbol}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          <div class="modal-footer">
              <span class="pull-right">
                <pagination :data="operationDetails" v-on:pagination-change-page="getDetail"></pagination>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
  module.exports = {
    data: function(){
      return {
        operations:{},
        operationDetails:{},
        searchParameters:{
          resultPerPage:5
        },
        detailParameters:{
          resultPerPage:5
        },
        ouput:false,
      }
    },
    created(){
        // Fetch initial results
        this.getResults();
    },
    methods:{
      getResults(page,count) {
        if (typeof page === 'undefined') {
            page = 1;
        }

        if( typeof count !== 'undefined' ){
          this.searchParameters.resultPerPage = count;
        }

        this.$http.get('/reports/gains?page=' + page + '&count=' + this.searchParameters.resultPerPage)
            .then(response => {
                return response.json();
            }).then(data => {
                this.operations = data;
                Vue.nextTick(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                })
            });
      },
      getDetail(page,count){
        if (typeof page === 'undefined') {
            page = 1;
        }

        if( typeof count !== 'undefined' ){
          this.detailParameters.resultPerPage = count;
        }

        this.$http.get('/reports/gains/detail/' + this.output + '?page=' + page + '&count=' + this.detailParameters.resultPerPage)
            .then(response => {
                return response.json();
            }).then(data => {
                this.operationDetails = data;
                $('#detail').modal('show');
            });
      },
      showDetail(output){
        this.output = output;
        this.getDetail();
      }
    },
    components:{
      'pagination':require('laravel-vue-pagination')
    }
  }
</script>
<style media="screen">

    .modal-lg{
        width: 90%;
    }

</style>
