<template>
  <div class="">
    <div class="box box-primary">
        <div class="box-header with-border">
         <h3 class="box-title">Closing Position Report</h3>
         <div class="box-tools pull-right">
           <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <div class="pull-left">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-4">
                    <div class="btn-group pull-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Descargar</button>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> {{coins.per_page}} por pagina
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a @click="getResults(1,5)">5</a></li>
                          <li><a @click="getResults(1,10)">10</a></li>
                          <li><a @click="getResults(1,20)">20</a></li>
                          <li><a @click="getResults(1,50)">50</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
            <table class="table table-data">
              <thead>
                <tr>
                  <th>Coin</th>
                  <th class="text-right">Volume</th>
                  <th class="text-right">Weighted Price</th>
                  <th class="text-right">Cost Basis</th>
                  <th class="text-right">Current Price</th>
                  <th class="text-right">Current Value</th>
                  <th class="text-right">Gain/Loss</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="coin in totales.coins">
                    <td>{{coin.coin}}</td>
                    <td class="text-right">{{coin.volume}}</td>
                    <td class="text-right">{{coin.weighted_price | currency(coin.currency) }}</td>
                    <td class="text-right">{{coin.cost_basis | currency(coin.currency) }}</td>
                    <td class="text-right">{{coin.current_price | currency(coin.currency) }}</td>
                    <td class="text-right">{{coin.current_value | currency(coin.currency) }}</td>
                    <td class="text-right">{{coin.gain_loss | currency(coin.currency) }}</td>
                  </tr>
                  <tr v-if="totales.total">
                    <td>TOTAL</td>
                    <td></td>
                    <td></td>
                    <td class="text-right">{{totales.total.cost_basis | currency }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
            <table class="table table-bordered table-hover table-data">
              <thead>
                <tr>
                  <th>Date Acquired</th>
                  <th>Coin</th>
                  <th class="text-right">Volume</th>
                  <th class="text-right">Price</th>
                  <th class="text-right">Fee</th>
                  <th class="text-right">Cost Basis</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="coin in coins.data">
                    <td>{{coin.date_acquired}}</td>
                    <td>{{coin.coin}}</td>
                    <td class="text-right">{{coin.volumen}}</td>
                    <td class="text-right">{{coin.price | currency(coin.currency) }}</td>
                    <td class="text-right">{{coin.fee | currency(coin.currency) }}</td>
                    <td class="text-right">{{coin.cost_basis | currency(coin.currency) }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-12">
                <span class="pull-left" v-if="coins.total">{{coins.total}} Coins</span>
                <span class="pull-left" v-else>You have no Coins</span>
                <span class="pull-right">
                  <pagination :data="coins" v-on:pagination-change-page="getResults"></pagination>
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
<script type="text/javascript">
  module.exports = {
    data: function(){
      return {
        coins:{},
        totales:{},
        searchParameters:{
          resultPerPage:5
        }
      }
    },
    created(){
        // Fetch initial results
        this.getResults();
        this.getTotales();
    },
    methods:{
      getResults(page,count) {
        if (typeof page === 'undefined') {
            page = 1;
        }

        if( typeof count !== 'undefined' ){
          this.searchParameters.resultPerPage = count;
        }

        this.$http.get('/reports/coins?page=' + page + '&count=' + this.searchParameters.resultPerPage)
            .then(response => {
                return response.json();
            }).then(data => {
                this.coins = data;
            });
      },
      getTotales(){
        this.$http.get('/reports/coins/total')
            .then(response => {
                return response.json();
            }).then(data => {
                this.totales = data;
            });
      }
    },
    components:{
      'pagination':require('laravel-vue-pagination')
    }
  }
</script>
<style media="screen">

</style>
