<template>
  <div class="">
    <capital-gains-table></capital-gains-table>
    <closing-position-table></closing-position-table>
  </div>
</template>
<script type="text/javascript">
  module.exports = {
    data: function(){
      return {
      }
    },
    created(){
    },
    methods:{

    },
    components:{
      'capital-gains-table':require('./CapitalGainsTable.vue'),
      'closing-position-table':require('./ClosingPositionTable.vue')
    }
  }
</script>
<style media="screen">

</style>
